.homepage {
  padding: 1rem;
  text-align: center;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    margin-top: 1rem;
    font-size: 2.2rem;
    font-weight: 900;
    text-transform: uppercase;
  }
}